.App {
  /* text-align: center; */
  font-family: "Copperplate", "Papyrus", fantasy;
  background-color: #f2dcb1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leftnav {
  width: 20%;
  float: left;
  position: relative
}

.rightcontent{
  width: 80%;
  float: right;
  position: relative;
  height:max-content
}
