/* #9C9F84 light green */
/* #A97D5D clay */
/* #F7DCB4 cream/tan */
/* #5C755E dark green*/
.App {
  text-align: center;
  font-family: "Copperplate", "Papyrus", fantasy;
  background-color: #F7DCB4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow: scroll
}

.homepage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
#homepageLeft{
  background-color: #5C755E;
}
#homepageLCont{
  margin-top: 20%;
}
.appTitle{
  font-size: 80px;
  margin: 0em .67em;
}

#homepageRight{
  margin:auto;
  width: 100%
}
.formTitle{
  text-align: left;
  margin-left: 10%;
  /* font-size: ; */
}
.formGroup{
  margin-top: 20px;
  text-align: left;
  border-bottom: 1px solid #666;
  width: 80%;
  margin-left:10%;
  display: flex;
  max-height: 31px;
}
.firstForm{
  margin-top: 3px
}

.loginLabel{
  display: block;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  padding-left: 0;
  flex:2
}
.logInInput{
  padding: 5px;
  padding-left: 0;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  flex:5;
}

.homepageSubForm{
  display: flex;
  text-align: right;
  margin-right: 10%;
  align-items: center;
}
#pwordError{
  flex: 2;
  margin: 0;
  color: red
}
#landingToggleLabel{
  text-align: right;
  margin: 0px 20px;
  flex:1;
  font-size: 20px;
}
.homepageSubForm label{
  flex: 1;
  text-align: right;
}
.pwSelect{
  padding-top:0px
}
.pwBoxLabel{
  font-size: 14px;
  line-height: 0px;
}

.homepageBtn{
  background-color: #5C755E;
  border: none;
  border-radius: 24px;
  font-size: 26px;
  line-height: 30px;
  width: 140px;
  color: #fff;
  font-family: "Copperplate", "Papyrus", fantasy;
  margin-left: auto
}
.toggleForm{
  background-color: #A97D5D;
  border: 2px solid black;
  font-size: 28px;
}
#loginLineBreak{ 
  align-items: center;
  border-bottom: 3px solid #5C755E;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

#header{
  height:120px;
  background-color: #8da683;
  position:fixed;
  width:100%;
  z-index: 100;
}
#header-left{
  width:100%
}
#header-left h1{
  font-size: 3.5pc;
  margin-top:25px
}
#header-right{
  /* position:fixed; */
  float:right;
  margin-top:-110px
}
#app-content{
  margin-top:130px
}

#navs-main{
  position:fixed;
  width:100%;
  height:30px;
  top:120px;
  opacity: 1;
  z-index: 100;
}
#navs-content{
  padding-top:20px
}
.nav-bar-link{
  margin-left: 10px;
  padding-left:10px;
  margin-right:10px;
  padding-right:10px;
  background-color: #8da683;
  padding-top:20px;
  padding-bottom:10px;
  border-radius: 10px;
  position: relative;
  top:5px
}
.nav-bar-link-sub{
  margin-left: 10px;
  padding-left:10px;
  margin-right:10px;
  padding-right:10px;
  background-color: #8da683;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  position: relative;
  top:5px
}
#lib-header{
  position:fixed;
  top: 160px;
  text-align: center;
  width:100%;
  background:inherit;
  opacity: 1;
  z-index: 20
}
#lib-content{
  margin-top:115px
}
.lib-content{
  position: absolute;
  top:260px;
  right:0;
  left:0;
  bottom:0;
  overflow-y: scroll;
}
.chapter-content{
  position: absolute;
  top:200px;
  right:0;
  left:0;
  bottom:0;
  overflow-y: scroll;
}


.App-link {
  color: #61dafb;
}

.leftnav {
  width: 22%;
  float: left;
  position: fixed;
  border-right:5px dotted black;
  height:70%;
  overflow-y: scroll
}
.user-link{
  font-size: x-large;
  height:40px
}

.convo-link{
  font-size: large;
  height:50px
}

.rightcontent{
  width: 72%;
  float: right;
  position: relative;
  height:100%;
  overflow-y: scroll
}

/* messaging */
.chat-bubble-right{
  margin: 40px;
  display: block;
  position: relative;
	width: .5;
	height: auto;
  background-color: rgb(61, 158, 199);
}
.chat-bubble-left{
  margin: 40px;
  display: block;
  position: relative;
	width: .5;
	height: auto;
  background-color: rgb(169, 212, 230);
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: rgb(169, 212, 230) transparent transparent transparent;
}

.tri-right.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: rgb(61, 158, 199) transparent transparent transparent;
}

.chat-text{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.chat-text p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
#convo-container{
  position: absolute;
  top:0px;
  right:0;
  left:0;
  bottom:0;
  overflow-y: scroll;
}

#convo-content{
  position: absolute;
  top:80px;
  right:0;
  left:0;
  bottom:0;
  overflow-y: scroll;
}
/* end messaging */

.chapter-header{
  position:relative;
  text-align: center;
  width:100%
}

#profile-home {
  width: 100%;
}

ul {
  list-style: none;
}

li.profile::before {
  content: "\2767";
  font-size: 20px;
  padding-right: 10px;
}
li.profile {
  font-size: 40px;
}
.bio {
  font-size: 35px;
}
.prof-info{
  color:rgba(41, 40, 40, 0.821)
}

.book-card {
	width: 80%;
  margin-left: 10%;
	border: 5px dashed black;
	color: black;
  margin-top: 10px;
  border-radius:10px;
  overflow: auto;
  text-align: center;
  padding-bottom: 10px;
  background-color: #88a07e86;
}
.unavailable {
  background-color: #3c443886;
}

.exch-container {
  display:grid;
  grid-template-columns: 48.5% 48.5%;
}
.exchange-card{
  width: 95%;
  margin-left: 5%;
	border: 2px dashed black;
	/* color: black; */
  margin-top: 10px;
  border-radius:10px;
  margin-bottom:10px;
  overflow: auto
}
.exchange-left{
  width: 25%;
  float: left;
  margin-left: 10%;
  margin-top: 5px
}
.exchange-right{
  width: 60%;
  margin-left: 40%;
}
.exch-update{
  color: red;
  font-weight: 700;
}

.title-author{
  width: 24%;
  float: left;
  margin-left: 10%;
}

.other-book-info{
  width: 54%;
  margin-left: 45%;
  border-left: 5px dashed black;
}

.other-profile{
  text-align:left
}

.help-page{
  padding:10%;
  padding-top:2%;
  padding-bottom:0%
}