.App {
  text-align: center;
  font-family: "Copperplate", "Papyrus", fantasy;
  background-color: #f2dcb1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow: scroll
}

#header{
  height:120px;
  background-color: #8da683;
  position:fixed;
  width:100%;
  z-index: 100;
}
#header-left{
  width:100%
}
#header-left h1{
  font-size: 3.5pc;
  margin-top:25px
}
#header-right{
  /* position:fixed; */
  float:right;
  margin-top:-110px
}
#app-content{
  margin-top:130px
}

#navs-main{
  position:fixed;
  width:100%;
  height:30px;
  top:120px;
  opacity: 1;
  z-index: 100;
}
#navs-content{
  padding-top:20px
}
.nav-bar-link{
  margin-left: 10px;
  padding-left:10px;
  margin-right:10px;
  padding-right:10px;
  background-color: #8da683;
  padding-top:20px;
  padding-bottom:10px;
  border-radius: 10px;
  position: relative;
  top:5px
}
.nav-bar-link-sub{
  margin-left: 10px;
  padding-left:10px;
  margin-right:10px;
  padding-right:10px;
  background-color: #8da683;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  position: relative;
  top:5px
}
#lib-header{
  position:fixed;
  top: 160px;
  text-align: center;
  width:100%;
  background:inherit;
  opacity: 1;
  z-index: 20
}
#lib-content{
  margin-top:115px
}


.App-link {
  color: #61dafb;
}

.leftnav {
  width: 22%;
  float: left;
  position: fixed;
  border-right:5px dotted black;
  height:70%;
  overflow-y: scroll
}
.user-link{
  font-size: x-large;
  height:40px
}

.convo-link{
  font-size: large;
  height:50px
}

.rightcontent{
  width: 72%;
  float: right;
  position: relative;
  height:70%;
  overflow-y: scroll
}

/* messaging */
.chat-bubble-right{
  margin: 40px;
  display: block;
  position: relative;
	width: .5;
	height: auto;
  background-color: rgb(61, 158, 199);
}
.chat-bubble-left{
  margin: 40px;
  display: block;
  position: relative;
	width: .5;
	height: auto;
  background-color: rgb(169, 212, 230);
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: rgb(169, 212, 230) transparent transparent transparent;
}

.tri-right.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: rgb(61, 158, 199) transparent transparent transparent;
}

.chat-text{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.chat-text p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
/* end messaging */

.chapter-header{
  position:relative;
  text-align: center;
  width:100%
}

#profile-home {
  width: 100%;
}

ul {
  list-style: none;
}

li.profile::before {
  content: "\2767";
  font-size: 20px;
  padding-right: 10px;
}
li.profile {
  font-size: 40px;
}
.bio {
  font-size: 35px;
}
.prof-info{
  color:rgba(41, 40, 40, 0.821)
}

.book-card {
	width: 80%;
  margin-left: 10%;
	border: 5px dashed black;
	color: black;
  margin-top: 10px;
  border-radius:10px;
  overflow: auto;
  text-align: center
}

.exchange-card{
  width: 80%;
  margin-left: 10%;
	border: 2px dashed black;
	color: black;
  margin-top: 10px;
  border-radius:10px;
  margin-bottom:10px;
  overflow: auto
}
.exchange-left{
  width: 25%;
  float: left;
  margin-left: 10%;
  margin-top: 5px
}
.exchange-right{
  width: 60%;
  margin-left: 45%;
}

.title-author{
  width: 25%;
  float: left;
  margin-left: 10%;
}

.other-book-info{
  width: 60%;
  margin-left: 45%;
  border-left: 5px dashed black;
}

.other-profile{
  text-align:left
}