.homepage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  #homepageLeft{
    background-color: #5C755E;
  }
  #homepageLCont{
    margin-top: 20%;
  }
  .appTitle{
    font-size: 80px;
    margin: 0em .67em;
  }
  
  #homepageRight{
    margin:auto;
    width: 100%
  }
  .formTitle{
    text-align: left;
    margin-left: 10%;
    /* font-size: ; */
  }
  .formGroup{
    margin-top: 20px;
    text-align: left;
    border-bottom: 1px solid #666;
    width: 80%;
    margin-left:10%;
    display: flex;
    max-height: 31px;
  }
  .firstForm{
    margin-top: 3px
  }
  
  .loginLabel{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    padding-left: 0;
    flex:2
  }
  .logInInput{
    padding: 5px;
    padding-left: 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    flex:5;
  }
  
  .homepageSubForm{
    display: flex;
    text-align: right;
    margin-right: 10%;
    align-items: center;
  }
  #pwordError{
    flex: 2;
    margin: 0;
    color: red
  }
  #landingToggleLabel{
    text-align: right;
    margin: 0px 20px;
    flex:1;
    font-size: 20px;
  }
  .homepageSubForm label{
    flex: 1;
    text-align: right;
  }
  .pwSelect{
    padding-top:0px
  }
  .pwBoxLabel{
    font-size: 14px;
    line-height: 0px;
  }
  
  .homepageBtn{
    background-color: #5C755E;
    border: none;
    border-radius: 24px;
    font-size: 26px;
    line-height: 30px;
    width: 140px;
    color: #fff;
    font-family: "Copperplate", "Papyrus", fantasy;
    margin-left: auto
  }
  .toggleForm{
    background-color: #A97D5D;
    border: 2px solid black;
    font-size: 28px;
  }
  #loginLineBreak{ 
    align-items: center;
    border-bottom: 3px solid #5C755E;
    display: flex;
    margin: 20px 16px;
    text-align: center;
  }
  